.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;

    h1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-bottom: 0.75rem;
    }

    @media (max-width: 480px) {
        align-self: center;

        max-width: 90%;
    }
}

.body {
    display: flex;

    width: 80%;

    margin-top: 1rem;

    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        width: 100%;

        margin-top: 2rem;
    }
}

.flameEditor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 0.5rem;

    height: 13rem;

    margin: 0 auto;

    fieldset {
        display: flex;
        align-items: center;
        justify-content: space-between;

        background-color: #acacac;

        padding: 0.25rem;
        border-radius: 0.5rem;

        div {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            cursor: pointer;

            svg {
                color: #000000;
            }
        }

        span,
        input {
            color: #000000;
        }

        input {
            width: calc(4ch + 0.5rem * 2);
            background-color: #ffffff;

            padding: 0.25rem 0.5rem;
            margin-left: 0.5rem;
            border-radius: 0 0.5rem 0.5rem 0;
        }
    }
}

.equipManager {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media (max-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

.equipDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    padding: 2rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.5rem;

    div {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 40px;
        height: 40px;
    }

    select {
        width: 10rem;
    }

    @media (max-width: 768px) {
        input {
            width: 1rem;
            height: 1rem;
        }
    }

    @media (max-width: 480px) {
        padding: 1.5rem 0.75rem;
    }
}

.flamesDisplay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    img {
        max-width: 34px;
        max-height: 36px;
    }
}
