/*Equipment Inventory*/
#EquipmentInventory {
    display: inline-flex;
    position: relative;
    padding: 0;
    left: 22px;
    top: 5px;
}
#EquipInvBase1 {
    max-width: 100%
}
#EquipInvBase2 {position: absolute;left: 9px;top: 44px;max-width: 100%}
#EquipInvDivisor {position: absolute;left: 7px;top: 40px;max-width: 100%}
#EquipInvClose {position: absolute;left: 212px;top: 5px;max-width: 100%}
#EquipInv_Background,#CashEquipInv_Background {position: absolute;left: 55px;top: 69px;max-width: 100%}
#PetEquipInv_Background {position: absolute;left: 14px;top: 50px;max-width: 100%}
#AndroidEquipInv_Background {position: absolute;left: 47px;top: 69px;max-width: 100%}
#AngelicBusterEquipInv_Background {position: absolute;left: 26px;top: 69px;max-width: 100%}
#DragonEquipInv_Background {position: absolute;left: 21px;top: 90px;max-width: 100%}
#HakuEquipInv_Background {position: absolute;left: 44px;top: 74px;max-width: 100%}
#MechEquipInv_Background {position: absolute;left: 30px;top: 65px;max-width: 100%}
#CashEquipInvZero_BackgroundMale {position: absolute;left: 13px;top: 49px;max-width: 100%}
#CashEquipInvZeroBeta {display: inline-flex;position: relative;top: 23px;height: 100%}
#CashEquipInvZeroBeta_Background {max-width: 100%}
#CashEquipInvZeroBeta_Base {position: absolute;left: 9px;top: 21px;max-width: 100%}
#CashEquipInvZeroBeta_BackgroundFemale {position: absolute;left: 13px;top: 26px;max-width: 100%}
#ArcaneEquipInv_Base1 {max-height: 135px;display: block}
#ArcaneEquipInv_Base2 {
    top: 136px;
    max-height: 84px;
    display: block
}
#ArcaneEquipInv_Base3 {top: 219px;max-height: 7px;display: block}
#ArcaneEquipInv_Base2-2 {top: 227px;max-height: 84px;display: block}
#ArcaneEquipInv_Base4 {top: 311px;max-height: 20px;display: block;margin: 0 1px 0 1.2px;max-width: 186.8px}
#ArcaneEquipInv_Background {position: absolute;left: 236px;top: 16px;max-width: 100%}
#ArcaneEquipInv_BackgroundFX {position: absolute;left: 293px;top: 52px;max-width: 100%}
/*Equipment Inventory Buttons*/
#EquipInv_EquipButton {position: absolute;left: 9px;top: 23px;max-width: 100%}
#EquipInv_EquipButtonSelected {position: absolute;left: 9px;top: 21px;max-width: 100%}
#EquipInv_CashButton {position: absolute;left: 52px;top: 23px;max-width: 100%}
#EquipInv_CashButtonSelected {position: absolute;left: 52px;top: 21px;max-width: 100%}
#EquipInv_PetButton {position: absolute;left: 95px;top: 23px;max-width: 100%}
#EquipInv_PetButtonSelected {position: absolute;left: 95px;top: 21px;max-width: 100%}
#EquipInv_AndroidButton {position: absolute;left: 138px;top: 23px;max-width: 100%}
#EquipInv_AndroidButtonSelected {position: absolute;left: 138px;top: 21px;max-width: 100%}
#EquipInv_MechButton, #EquipInv_DragonButton, #EquipInv_CoordButton, #EquipInv_HakuButton {position: absolute;left: 181px;top: 23px;max-width: 100%}
#EquipInv_MechButtonSelected, #EquipInv_DragonButtonSelected, #EquipInv_CoordButtonSelected, #EquipInv_HakuButtonSelected {position: absolute;left: 181px;top: 21px;max-width: 100%}
#EquipInv_ArcaneForce {position: absolute;left: 174px;top: 307px;max-width: 100%}
#CommerciVesselIcon {position: absolute;left: 166px;top: 322px;max-width: 100%}
#ZeroWeaponIcon {position: absolute;left: 10px;top: 307px;max-width: 100%}
#PetEquipInv_AutoFeed {position: absolute;left: 115px;top: 215px;max-width: 100%}
#PetEquipInv_ItemIgnore {position: absolute;left: 118px;top: 262px;max-width: 100%}
#PetEquipInv_ItemPouch {position: absolute;left: 115px;top: 233px;max-width: 100%}
#PetEquipInv_PotionUse {position: absolute;left: 15px;top: 262px;max-width: 100%}
/*Equipment Inventory Icons*/
.EquipInvSlot {position: absolute;width: 40px;height: 39px}
.ArcaneSymbolSlot {position: absolute;width: 48px;height: 84px}
#EquipInv_Android {position: absolute;left: 137px;top: 255px;max-width: 100%}
#EquipInv_Badge {position: absolute;left: 178px;top: 91px;max-width: 100%}
#EquipInv_Belt,#CashEquipInv_Belt,#AndroidEquipInv_Gloves {position: absolute;left: 55px;top: 214px;max-width: 100%}
#EquipInv_Bottom,#CashEquipInv_Bottom,#AndroidEquipInv_Bottom,#CashEquipInvZero_Bottom {position: absolute;left: 96px;top: 214px;max-width: 100%}
#EquipInv_Cape,#CashEquipInv_Cape,#CashEquipInvZero_Cape {position: absolute;left: 178px;top: 214px;max-width: 100%}
#EquipInv_CrusaderCodex {position: absolute;left: 14px;top: 255px;max-width: 100%}
#EquipInv_Earrings,#CashEquipInv_Earrings,#CashEquipInvZero_Earrings {position: absolute;left: 137px;top: 132px;max-width: 100%}
#EquipInv_Emblem {position: absolute;left: 178px;top: 50px;max-width: 100%}
#EquipInv_EyeAcc,#CashEquipInv_EyeAcc,#CashEquipInvZero_EyeAcc {position: absolute;left: 96px;top: 132px;max-width: 100%}
#EquipInv_FaceAcc,#CashEquipInv_FaceAcc,#AndroidEquipInv_FaceAcc,#CashEquipInvZero_FaceAcc {position: absolute;left: 96px;top: 91px;max-width: 100%}
#EquipInv_Gloves,#CashEquipInv_Gloves,#AndroidEquipInv_Cape,#CashEquipInvZero_Gloves {position: absolute;left: 137px;top: 214px;max-width: 100%}
#EquipInv_Hat,#CashEquipInv_Hat,#AndroidEquipInv_Hat,#CashEquipInvZero_Hat {position: absolute;left: 96px;top: 50px;max-width: 100%}
#EquipInv_Heart {position: absolute;left: 178px;top: 255px;max-width: 100%}
#EquipInv_Medal {position: absolute;left: 178px;top: 132px;max-width: 100%}
#EquipInv_Pendant1,#CashEquipInv_Pendant,#CashEquipInvZero_Pendant {position: absolute;left: 55px;top: 132px;max-width: 100%}
#EquipInv_Pendant2 {position: absolute;left: 55px;top: 91px;max-width: 100%}
#EquipInv_PendantDisabled {position: absolute;left: 55px;top: 91px;max-width: 100%}
#EquipInv_PocketItem {position: absolute;left: 14px;top: 214px;max-width: 100%}
#EquipInv_PowerSource {position: absolute;left: 178px;top: 50px;max-width: 100%}
#EquipInv_Ring1,#CashEquipInv_Ring1,#CashEquipInvZero_Ring1 {position: absolute;left: 14px;top: 173px;max-width: 100%}
#EquipInv_Ring2,#CashEquipInv_Ring2,#CashEquipInvZero_Ring2 {position: absolute;left: 14px;top: 132px;max-width: 100%}
#EquipInv_Ring3,#CashEquipInv_Ring3 {position: absolute;left: 14px;top: 91px;max-width: 100%}
#EquipInv_Ring4,#CashEquipInv_Ring4 {position: absolute;left: 14px;top: 50px;max-width: 100%}
#EquipInv_Shoes,#CashEquipInv_Shoes,#AndroidEquipInv_Shoes,#CashEquipInvZero_Shoes {position: absolute;left: 96px;top: 255px;max-width: 100%}
#EquipInv_Shoulder,#CashEquipInv_Shoulder {position: absolute;left: 137px;top: 173px;max-width: 100%}
#EquipInv_Secondary,#CashEquipInv_Secondary {position: absolute;left: 178px;top: 173px;max-width: 100%}
#EquipInv_Top,#CashEquipInv_Top,#AndroidEquipInv_Top,#CashEquipInvZero_Top {position: absolute;left: 96px;top: 173px;max-width: 100%}
#EquipInv_Weapon,#CashEquipInv_Weapon,#CashEquipInvZero_Weapon,#HakuEquipInv_Weapon {position: absolute;left: 55px;top: 173px;max-width: 100%}
#CashEquipInv_Face,#CashEquipInvZero_Face {position: absolute;left: 55px;top: 50px;max-width: 100%}
#CashEquipInv_Hair,#CashEquipInvZero_Hair {position: absolute;left: 55px;top: 92px;max-width: 100%}
#PetEquipInv_Pet1 {position: absolute;left: 21px;top: 57px;max-width: 100%}
#PetEquipInv_Pet2 {position: absolute;left: 21px;top: 106px;max-width: 100%}
#PetEquipInv_Pet3 {position: absolute;left: 21px;top: 155px;max-width: 100%}
#PetEquipInv_PetAcc1 {position: absolute;left: 71px;top: 57px;max-width: 100%}
#PetEquipInv_PetAcc2 {position: absolute;left: 71px;top: 106px;max-width: 100%}
#PetEquipInv_PetAcc3 {position: absolute;left: 71px;top: 155px;max-width: 100%}
#PetEquipInv_PetSkill1 {position: absolute;left: 113px;top: 57px;max-width: 100%}
#PetEquipInv_PetSkill2 {position: absolute;left: 113px;top: 106px;max-width: 100%}
#PetEquipInv_PetSkill3 {position: absolute;left: 113px;top: 155px;max-width: 100%}
#PetEquipInv_AutoMP {position: absolute;left: 170px;top: 57px;max-width: 100%}
#PetEquipInv_AutoHP {position: absolute;left: 170px;top: 106px;max-width: 100%}
#PetEquipInv_AutoCure {position: absolute;left: 170px;top: 155px;max-width: 100%}
#CashEquipInvZeroBeta_Bottom {position: absolute;left: 96px;top: 191px;max-width: 100%}
#CashEquipInvZeroBeta_Cape {position: absolute;left: 178px;top: 191px;max-width: 100%}
#CashEquipInvZeroBeta_Earrings {position: absolute;left: 137px;top: 109px;max-width: 100%}
#CashEquipInvZeroBeta_EyeAcc {position: absolute;left: 96px;top: 109px;max-width: 100%}
#CashEquipInvZeroBeta_FaceAcc {position: absolute;left: 96px;top: 68px;max-width: 100%}
#CashEquipInvZeroBeta_Gloves {position: absolute;left: 137px;top: 191px;max-width: 100%}
#CashEquipInvZeroBeta_Hat {position: absolute;left: 96px;top: 27px;max-width: 100%}
#CashEquipInvZeroBeta_Pendant {position: absolute;left: 55px;top: 109px;max-width: 100%}
#CashEquipInvZeroBeta_Ring1 {position: absolute;left: 14px;top: 150px;max-width: 100%}
#CashEquipInvZeroBeta_Ring2 {position: absolute;left: 14px;top: 109px;max-width: 100%}
#CashEquipInvZeroBeta_Shoes {position: absolute;left: 96px;top: 232px;max-width: 100%}
#CashEquipInvZeroBeta_Top {position: absolute;left: 96px;top: 150px;max-width: 100%}
#CashEquipInvZeroBeta_Weapon {position: absolute;left: 55px;top: 150px;max-width: 100%}
#CashEquipInvZeroBeta_Face {position: absolute;left: 55px;top: 27px;max-width: 100%}
#CashEquipInvZeroBeta_Hair {position: absolute;left: 55px;top: 69px;max-width: 100%}
#AngelicBusterEquipInv_Cap {position: absolute;left: 96px;top: 60px;max-width: 100%}
#AngelicBusterEquipInv_Cape {position: absolute;left: 137px;top: 183px;max-width: 100%}
#AngelicBusterEquipInv_Clothes {position: absolute;left: 96px;top: 183px;max-width: 100%}
#AngelicBusterEquipInv_Face {position: absolute;left: 96px;top: 142px;max-width: 100%}
#AngelicBusterEquipInv_Forehead {position: absolute;left: 96px;top: 101px;max-width: 100%}
#AngelicBusterEquipInv_Gloves {position: absolute;left: 55px;top: 224px;max-width: 100%}
#AngelicBusterEquipInv_Hair {position: absolute;left: 55px;top: 60px;max-width: 100%}
#DragonEquipInv_Hat {position: absolute;left: 23px;top: 114px;max-width: 100%}
#DragonEquipInv_Pendant {position: absolute;left: 61px;top: 173px;max-width: 100%}
#DragonEquipInv_Tail {position: absolute;left: 170px;top: 149px;max-width: 100%}
#DragonEquipInv_Wing {position: absolute;left: 120px;top: 114px;max-width: 100%}
#MechEquipInv_Arm {position: absolute;left: 168px;top: 198px;max-width: 100%}
#MechEquipInv_Engine {position: absolute;left: 89px;top: 174px;max-width: 100%}
#MechEquipInv_Frame {position: absolute;left: 25px;top: 122px;max-width: 100%}
#MechEquipInv_Leg {position: absolute;left: 100px;top: 226px;max-width: 100%}
#MechEquipInv_Transistor {position: absolute;left: 112px;top: 96px;max-width: 100%}
#ArcaneEquipInv_Slot1 {position: absolute;left: 252px;top: 133px;max-width: 100%}
#ArcaneEquipInv_Slot2 {position: absolute;left: 304px;top: 133px;max-width: 100%}
#ArcaneEquipInv_Slot3 {position: absolute;left: 356px;top: 133px;max-width: 100%}
#ArcaneEquipInv_Slot4 {position: absolute;left: 252px;top: 225px;max-width: 100%}
#ArcaneEquipInv_Slot5 {position: absolute;left: 304px;top: 225px;max-width: 100%}
#ArcaneEquipInv_Slot6 {position: absolute;left: 356px;top: 225px;max-width: 100%}
.ArcaneSymbol {position: absolute;left: 7px;top: 6px;max-width: 100%}
/*Equipment Inventory*/
.EquippedItem {position: absolute;left: 5px;top: 7px;max-width: 100%}