.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;

    h1 {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        margin-bottom: 0.75rem;
    }

    > p {
        margin-top: 1rem;
    }

    @media (max-width: 480px) {
        align-self: center;

        max-width: 90%;
    }
}

.symbolSelector {
    overflow: hidden;

    margin-top: 1rem;
    border: 1px solid #000;
    border-radius: 1rem;

    button {
        padding: 0.5rem;

        + button {
            border-left: 1px solid #000;
        }
    }
}

.symbolManager {
    display: grid;
    gap: 2rem;

    margin-top: 2rem;

    @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 481px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.symbolInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;

    padding: 1rem;
    border: 1px solid #000000;
    border-radius: 0.75rem;

    > div {
        display: flex;
        align-items: center;

        gap: 0.25rem;

        > input,
        span + div {
            background-color: #dddddd;
        }

        > input {
            width: calc(2ch + 1rem);
            text-align: center;

            padding: 0.25rem 0.5rem;
            border-radius: 0.25rem;
        }

        span + div {
            padding: 0.25rem;
            border-radius: 0.5rem;

            input {
                width: calc(4ch + 0.25rem);
                background-color: #ffffff;
                text-align: center;

                border-radius: 0.5rem 0 0 0.5rem;
            }

            span {
                padding-left: 0.25rem;
            }
        }
    }

    @media (max-width: 480px) {
        > div {
            + div {
                display: flex;
                flex-direction: column;
                align-items: center;

                span:first-child {
                    display: block;
                }
            }
        }
    }
}

.symbolReport {
    display: grid;
    grid-template-columns: repeat(4, auto);

    border: 1px solid #000000;
    border-radius: 1rem;
    margin-top: 2rem;

    p {
        padding: 0.5rem;
    }

    div {
        display: grid;
        grid-auto-rows: 1fr;

        + div {
            border-left: 1px solid #000000;
        }

        span {
            text-align: center;

            padding: 0.5rem;

            @media (max-width: 480px) {
                padding: 0.25rem;
            }

            + span {
                border-top: 1px solid #000000;
            }
        }
    }
}
