**/dist
**/node_modules
**/tmp
**/.vscode
!/.vscode/launch.json
!.gitkeep
*.log

# Env files
**/.env
**/.env*.local

# Next.js
.next

# Test files
**/coverage

# TypeScript
next-env.d.ts
*.tsbuildinfo
