.equipChooser {
    display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
    z-index: 2;
}

.scrollDiv {
    display: grid;
    grid-template-columns: repeat(9, 1fr);

    overflow: auto;

    padding-bottom: 4px;
    margin-top: 20px;

    &::-webkit-scrollbar {
        display: none;
    }
}

.equipChooserSlot {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
}

.background {
    display: grid;
    grid-template-rows: 1fr 15fr 2fr;

    width: 95%;
    height: 93%;
    background-color: #fff;

    border-radius: 5px;
}

.topBar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    padding: 0 2px;
    border-bottom: 2px solid #f07e00;
}

.tab {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    color: #fff;
    font-size: 0.6em;
    font-stretch: condensed;
    text-transform: uppercase;

    padding-bottom: 1px;
    border-width: 2px 2px 0;
    border-style: solid;
    border-radius: 4px 4px 0 0;

    & + & {
        margin-left: 1px;
    }
}

.equipSlots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    background: url("/images/Equip/background.png") #ddd center no-repeat;
    cursor: pointer;

    padding: 2%;
    margin: 2px;
    border-radius: 5px;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.slot {
    display: flex;
    position: relative;

    width: 40px;
    height: 40px;
    background-color: var(--background, transparent);

    padding: 5%;
    border-radius: 4px;

    span {
        color: #ccc;
        font-size: 0.46em;
        text-transform: uppercase;
        position: absolute;

        &:not(:last-of-type) {
            align-self: flex-start;
        }

        & + br + span {
            top: 10px;
        }
    }

    > span:last-of-type {
        margin: auto !important;
    }

    img {
        align-self: center;
        margin: 0 auto;
        z-index: 1;
    }

    & + & {
        margin-top: 5%;
    }
}

.bottomSection {
    display: grid;
    grid-template-rows: 0.5fr 1fr;

    padding: 4px 2px;
    border-top: 2px solid #a8a8a8;
}

.extraButtons {
    display: flex;
    justify-content: flex-end;
}

.miscButtons {
    display: flex;
}
