* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    color: #a8a8a8;
    -webkit-font-smoothing: antialiased;
    background-color: #000;
}

#__next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

p {
    hyphens: auto;
    text-align: justify;
}

a {
    text-decoration: none;
}

button,
img,
svg {
    cursor: pointer;
    background: transparent;
    border: none;
}

input {
    background: transparent;
    border: none;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button:disabled {
    cursor: default;
}

label {
    cursor: text;
}
