.charInfo {
    display: grid;
    grid-template-rows: 1fr 2fr;

    width: 158px;
    height: 52px;
    background-color: #444;

    margin-bottom: 0.5vh;
    border-radius: 4px;
}

.levelName {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 3fr;

    div {
        display: flex;

        margin: 0 19% 0 27%;

        input,
        label {
            color: #d7b424;
            font-size: 0.7em;
            text-shadow: 0 0 4px #000;
        }

        input {
            text-align: end;
        }
    }

    > input {
        color: #fff;
        font-size: 0.6em;

        margin-left: 5%;
    }
}

.coreStatsDiv {
    display: grid;
    grid-template-rows: 1fr 1fr;

    background: linear-gradient(#fff, #cdcdcd 60%);

    margin: 0 1%;
    border-radius: 4px;

    > div {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 9fr 0.3fr;

        > span {
            color: #838383;
            font-size: 0.5em;
            font-weight: 700;
            text-transform: uppercase;

            margin: auto 13%;
        }
    }
}

.statBar {
    display: flex;

    height: 74%;

    border-radius: 4px;

    span {
        color: #fff;
        font-size: 0.6em;

        margin: auto;
    }
}
