.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    svg {
        color: #f00;
        width: auto;
        height: 20%;
    }

    span {
        font-size: 2em;
    }
}
