#StatsWindow{display:inline-flex;position:relative;padding:0;left:22px;top:5px}
#StatsWindow_Base{max-width:100%}
#StatsWindow_Background{position:absolute;left:6px;top:22px;max-width:100%}
#StatsWindow_CharName{position:absolute;left:68px;top:25px}
#StatsWindow_Class{position:absolute;left:68px;top:44px}
#StatsWindow_Guild{position:absolute;left:68px;top:61px}
#StatsWindow_Fame{position:absolute;left:68px;top:80px}
#StatsWindow_Range1{position:absolute;left:68px;top:97px}
#StatsWindow_HP{position:absolute;left:68px;top:116px}
#StatsWindow_MP{position:absolute;left:68px;top:133px}
#StatsWindow_STR{position:absolute;left:68px;top:203px}
#StatsWindow_DEX{position:absolute;left:68px;top:221px}
#StatsWindow_INT{position:absolute;left:68px;top:239px}
#StatsWindow_LUK{position:absolute;left:68px;top:257px}