.button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background: var(--background);
    color: #ffffff;

    border-width: 1px;
    border-style: solid;

    span {
        font-size: 0.55em;
        text-shadow: 0 0 4px #000;
        text-transform: uppercase;

        margin: 0 auto;
    }

    > svg {
        height: 30%;
        margin-right: 2px;
    }
}
