/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ../node_modules/.pnpm/next@13.3.0_@babel+core@7.19.1_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!../node_modules/.pnpm/next@13.3.0_@babel+core@7.19.1_react-dom@18.2.0_react@18.2.0/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./public/global.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    color: #a8a8a8;
    background-color: #000;
    font-family: Arial;
    -webkit-font-smoothing: antialiased;
}

#__next {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

p {
    text-align: justify;
    -webkit-hyphens: auto;
            hyphens: auto;
}

a {
    text-decoration: none;
}

button,
img,
svg {
    background: transparent;
    cursor: pointer;

    border: none;
}

input {
    width: 100%;
    background: transparent;

    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button:disabled {
    cursor: default;
}

label {
    cursor: text;
}

